body{
    background-image: url(camouflage.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: 100px;
}
.bandeau{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #5a8735;
    color: black;
    z-index: 10;
    display: flex;
    gap: 35vw;
}
#accueil{
    height: 100px;
}
#titre{
    color: black;
    font-size: 272%;
    /*margin-left: 500;*/
    /*white-space: nowrap;*/
    text-align: center;
}
#annonce{
    text-align: center;
    font-size: 50px;
}
#lien{
    /*text-decoration: none;*/
    color: black;
}
#fleche{
    width: 8%;
}
#space{
    margin-top: 150px;
}
#espace{
    margin-top: 36px;
}
#space{
    height: 72px;
}
